* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 }
 
 header {
    background: #353A40;
    display: inline-block;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
   }
 
 .logo {
    display: inherit;
    font-size: 20px;
   
 }
 
 .logo img {
    height: 75px;
    vertical-align: middle;
    margin-left: 10px;
    
 }
 
 .wrap{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(0 0 0 / .5),  rgb(0 0 0 / .5) ), url(../java\ fullstak/img/hawaii.jpg);
    background-size: cover;
    background-position: center;
 }
 .wrap-texto h1{
   margin:180px 0px 0px 0px ;
 }
 .wrap-texto{
    color: rgb(238, 233, 224);
    text-align: right;
    width: 60%;
    position: absolute;
    right: 100px;
    
  }
 
 h2 {
    color: white;
    display: inline-block;
 }
 
 nav {
    float: right; 
    padding: 35px;
       
 }
 
 
 a {
    color: white;
    text-decoration: none;
    padding: 5px;
 }
 

 .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
   
 }
 
 .titulo{
   padding: 10px;
   text-align: center;
 }
 
 h3 h4 {
    text-align: left;
 }
 
 .btn-primary{
    background-color: rgb(10, 158, 184) ;
 }
 .card {
    width: 280px;
    height: 600px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    
 }
 
 .card-image {
    
    height: 500px;
    margin-bottom: 15px;
    background-size: cover;
   
 }
 
 .car-1{
    background-image: url(../java\ fullstak/img/steve.jpg);
    
 }
 .car-2{
    background-image: url(../java\ fullstak/img/bill.jpg);
    
 }
 .car-3{
    background-image: url(../java\ fullstak/img/ada.jpeg);
    
 }
 
 .card .p{
    display:flex;
 }
 
 .card:hover{
    background-color: rgb(62 62 62 );
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
 }
 
 .left{
    background: url(../java\ fullstak/img/honolulu.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 95%;
 
    }
    .right{
    width: 50%;
    height: 95%;
    padding: 20px 5px 10px 10px;
    background-color: #353A40;
    color: antiquewhite;
    font-size: 12px;
    line-height:30px ;
    
    }
    
    #split{
       display: flex;
      
   }
    
 
    .form {
       text-align: center;
       font-family:Arial, Helvetica, sans-serif;
       color: #353A40;
       padding: 10px;
    }
    .row{
       align-items: center;
       justify-content: center;
       padding: 20px;

    }
    .textarea{
    display: flex;
    justify-content: center;
    padding: 5px;
    }
 .btn-dark{
    background-color: #70bf26 ;
 }
 
 footer{
    background-color: #0b3153;
    padding: 10px;
    width: 100%;
    position: absolute;
    font-weight: 600;
    display: flex;
    font-size: 15px;
    margin:10px ;
    justify-content:space-around ;
    
   }
  
 
   section {
    height: 70vh;
    position: relative;
 }
 